<h2>By Countries</h2>
<hr>
<div class="row">
    <div class="col">
      <app-input-component
       (onSend)="search($event)"
       (onDebounce)="suggestions($event)"
       
       ></app-input-component>
    </div>
</div>
<ng-template [ngIf]="sugg">
    <ul class="list-group">
        <li 
        class="list-group-item list-group-item-action"
        *ngFor="let item of arrSuggestion"
        >
           <a class="nav-link" [routerLink]="['/country',item.cca2]">
            {{item.name.common}}
           </a>
        </li>
    </ul>
</ng-template>

<hr>
<ng-template [ngIf]="error" [ngIfElse]="alert">
    <div class="row">
        <div class="col">
         <app-table-component [data]="countries"></app-table-component>
        </div>
    </div>
</ng-template>


<ng-template #alert>
    <div class="alert alert-danger">
        Don't find Anything {{value}}
    </div>
</ng-template>
